@font-face {
    font-family: 'Awesome Solid';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/fa-solid-900.eot);
    src: url(../fonts/fa-solid-900.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fa-solid-900.woff2) format('woff2'),
        url(../fonts/fa-solid-900.woff) format('woff'),
        url(../fonts/fa-solid-900.ttf) format('truetype'),
        url(../fonts/fa-solid-900.svg#fontawesome) format('svg');
}

@font-face {
    font-family: 'Awesome Brands';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fa-brands-400.eot);
    src: url(../fonts/fa-brands-400.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fa-brands-400.woff2) format('woff2'),
        url(../fonts/fa-brands-400.woff) format('woff'),
        url(../fonts/fa-brands-400.ttf) format('truetype'),
        url(../fonts/fa-brands-400.svg#fontawesome) format('svg');
}

* { box-sizing:border-box; margin:0; outline:none; padding:0; }

body { background:#fff; color:#555; font:16px/24px Consolas, Arial, Helvetica, sans-serif; }

/**
 * Frame
 */
body > .wrapper { position:relative; }
body > .header-wrapper { height:50px; left:0; position:fixed; top:0; width:100%; z-index:3; }
body > .header-wrapper .header { background:#f1f1f1; border-bottom:1px solid #e2e7eb; }
body > .header-wrapper .header .logo { background:#f4f4f4; border-right:1px solid #e2e7eb; float:left; padding:15px; text-align:center; text-transform:uppercase; width:280px; }
body > .header-wrapper .header .main-menu { float:left; margin-left:25px; }
body > .header-wrapper .header:after { clear:both; content:''; display:table; height:0; }
body > .main-wrapper { position:relative; z-index:2; }
body > .main-wrapper > .left { background:#f9f9f9; border-right:1px solid #e2e7eb; height:calc( 100% - 50px ); left:0; position:fixed; top:50px; width:280px; }
body > .main-wrapper > .main { margin:50px 0 0 280px; padding:5px 0 70px 40px; width:calc( 100% - 570px ); }
body > .main-wrapper > .main .main-contents {}
body > .footer-wrapper { margin:0 0 0 280px; position:relative; z-index:1; }
body > .footer-wrapper .footer { padding:20px 20px 30px; }
body > .footer-wrapper .footer .copyright { font-size:12px; text-align:right; }

/**
 * Main menu
 */
.main-menu .toggler { display:none; }
.main-menu .box > ul li { list-style:none; position:relative; }
.main-menu .box > ul li a { display:block; text-decoration:none; }
.main-menu .box > ul li a span { display:block; }
.main-menu .box > ul:after { clear:both; content:''; display:table; height:0; }
.main-menu .box > ul > li { float:left; } /* level 1 */
.main-menu .box > ul > li > a > span { color:#555; font-style:italic; padding:15px; }
.main-menu .box > ul > li.current > a > span { color:#000; font-style:normal; }
.main-menu .box > ul > li ul { display:none; } /* level n */

/**
 * Left menu
 */
.nav-menu { margin:10px -1px 0 0; height:calc( 100% - 10px ); }
.nav-menu .box > ul li { list-style:none; }
.nav-menu .box > ul li a { display:block; text-decoration:none; }
.nav-menu .box > ul li a span { display:block; font-size:14px; }
.nav-menu .box > ul > li > a { border-bottom:1px solid #e2e7eb; border-right:1px solid #e2e7eb; padding:12px 18px; } /* level 1 */
.nav-menu .box > ul > li > a > span { color:#555; font-size:16px; }
.nav-menu .box > ul > li li > a { background:#fff; border-bottom:1px solid #e2e7eb; border-right:1px solid #e2e7eb; padding:8px 18px 8px 30px; } /* level 2 */
.nav-menu .box > ul > li li > a > span { color:#999; font-style:italic; }
.nav-menu .box > ul > li li > a:hover { background:#e5f8f9; }
.nav-menu .box > ul > li li.current > a { background:#fff; border-right:0; cursor:default; }
.nav-menu .box > ul > li li.current > a span { color:#555; font-weight:bold; }

/**
 * Index menu
 */
.index-menu { border:1px solid #e2e7eb; max-height:calc( 100% - 80px ); position:fixed; right:15px; top:60px; width:250px; }
.index-menu:before { background:#fff; bottom:0; content:''; display:block; left:0; opacity:.6; position:absolute; right:0; top:0; }
.index-menu ul { position:relative; }
.index-menu ul li { list-style:none; }
.index-menu ul li a { border-bottom:1px solid #e2e7eb; display:block; text-decoration:none; }
.index-menu ul li a span { display:block; font-size:14px; }
.index-menu ul li a span.title { color:#999; padding:8px 8px 8px 10px; }
.index-menu ul li a span.progress { background:#f5f5f5; height:5px; width:100%; }
.index-menu ul li a span.progress span { background:#b7f2f5; height:100%; }
.index-menu ul li.current a span.title { color:#555; }
.index-menu ul li.current a span.progress span { background:#43bec5; }
.index-menu ul li li a span.progress { height:1px; } /* level 2 */
.index-menu ul li li a span.title { border-left:5px solid #e1e1e1; }
.index-menu ul li li li a span.title { position:relative; padding:8px 8px 8px 15px; } /* level 3 */
.index-menu ul li li li a span.title:before { background:#f1f1f1; content:''; display:block; height:100%; left:0; position:absolute; top:0; width:5px; }

/**
 * Markdown contents
 */
.markdown h1 { color:#43bec5; font-size:28px; font-weight:normal; line-height:32px; padding:28px 0 20px; }
.markdown h2 { color:#43bec5; font-size:24px; font-weight:normal; line-height:28px; padding:20px 0 16px; }
.markdown h3 { color:#43bec5; font-size:20px; font-weight:normal; line-height:24px; padding:16px 0 16px; }
.markdown a { color:#43bec5; text-decoration:none; }
.markdown a:hover { text-decoration:underline; }
.markdown p { margin:0 0 15px; }
.markdown code { background:#e5f8f9; font-family:Consolas; padding:5px 10px; }
.markdown pre { background:#e5f8f9; margin:0 0 1rem; padding:10px 20px; }
.markdown pre code { padding:0 0 4px; }
.markdown ul { padding:0 0 0 22px; }
.markdown ul li { padding:0 0 5px; }
.markdown ol { padding:0 0 0 22px; }
.markdown ol li { padding:0 0 5px; }
.markdown table { width:100%; }
.markdown table thead th {}
.markdown table tbody td {}

/**
 * Loader
 */
body > .loader { bottom:0; left:0; position:fixed; right:0; top:0; z-index:9999; }
body > .loader:before { background:#fff; bottom:0; content:''; left:0; opacity:.6; position:absolute; right:0; top:0; }
body > .loader:after { background:url(../images/loading.gif) center center no-repeat; content:''; height:50px; left:calc( 50% - 64px ); position:absolute; top:35%; width:64px; }

@media only screen and (max-width:980px) {
    body > .main-wrapper > .main { width:calc( 100% - 310px ) }
    .index-menu { display:none; }
}

@media only screen and (max-width:768px) {
    body > .header-wrapper .header .logo { width:calc( 100% - 54px ); }
    body > .header-wrapper .header .main-menu { height:100%; position:fixed; right:-100%; top:55px; width:100%; }
    body > .header-wrapper .header .main-menu.active { right:0; }
    body > .main-wrapper > .left { display:none; }
    body > .main-wrapper > .main { margin:50px 0 0; padding:5px 10px 70px; width:100%; }
    body > .footer-wrapper { margin:0; }

    .main-menu:before { background:#000; content:''; display:block; height:100%; left:0; opacity:.6; position:absolute; top:0; width:100%; }
    .main-menu .toggler { background:no-repeat; display:block; height:54px; position:fixed; right:0; text-align:center; top:0; width:54px; }
    .main-menu .toggler:before {  color:#a8acb1; content:'\f0c9'; font:28px/54px 'Awesome Solid'; }
    .main-menu .mCustomScrollBox { background:#f1f1f1; position:absolute; right:-100%; transition:.6s; width:calc( 100% - 50px ); }
    .main-menu.active .mCustomScrollBox { right:0; }
    .main-menu .box > ul > li { float:none; } /* level 1 */
    .main-menu .box > ul > li > a { background:#fff; border-bottom:1px solid #e2e7eb; }
    .main-menu .box > ul > li > a > span { color:#555; font-style:italic; padding:8px 15px; }
    .main-menu .box > ul > li li > a { background:#fff; border-bottom:1px solid #e2e7eb; } /* level 2 */
    .main-menu .box > ul > li li > a > span { border-left:7px solid #e1e1e1; color:#555; font-style:italic; padding:8px 15px 8px 18px; }
    .main-menu .box > ul > li li li > a { background:#fff; border-bottom:1px solid #e2e7eb; } /* level 3 */
    .main-menu .box > ul > li li li > a > span { border-left:14px solid #f1f1f1; color:#555; font-style:italic; padding:8px 15px 8px 22px; }
    .main-menu .box > ul > li li li > a > span:before { background:#e1e1e1; content:''; display:block; height:100%; left:0; position:absolute; top:0; width:7px; }
    .main-menu .box > ul > li ul { display:block; } /* level n */
}