* { box-sizing:border-box; margin:0; outline:none; padding:0; }

body { background:#fff; color:#555; font:14px/20px 'Microsoft YaHei', Arial, Helvetica, sans-serif; }

/**
 * Frame
 */
body > .wrapper { position:relative; }
body > .header-wrapper { height:50px; left:0; position:fixed; top:0; width:100%; z-index:3; }
body > .header-wrapper .header { background:#f1f1f1; border-bottom:1px solid #e2e7eb; }
body > .header-wrapper .header .logo { background:#f4f4f4; border-right:1px solid #e2e7eb; float:left; padding:15px; text-align:center; text-transform:uppercase; width:280px; }
body > .header-wrapper .header .main-menu { float:left; margin-left:25px; }
body > .header-wrapper .header:after { clear:both; content:''; display:table; height:0; }
body > .main-wrapper { position:relative; z-index:2; }
body > .main-wrapper > .left { background:#f9f9f9; border-right:1px solid #e2e7eb; height:calc( 100% - 50px ); left:0; position:fixed; top:50px; width:280px; }
body > .main-wrapper > .main { margin:50px 0 0 280px; padding:5px 0 70px 40px; width:calc( 100% - 570px ); }
body > .main-wrapper > .main .main-contents {}
body > .footer-wrapper { margin:0 0 0 280px; position:relative; z-index:1; }
body > .footer-wrapper .footer { padding:20px 20px 30px; }
body > .footer-wrapper .footer .copyright { font-size:12px; text-align:right; }

/**
 * Main menu
 */
.main-menu > ul li { list-style:none; position:relative; }
.main-menu > ul li a { display:block; text-decoration:none; }
.main-menu > ul li a span { display:block; }
.main-menu > ul li ul { position:absolute; }
.main-menu > ul > li { float:left; } /* level 1 */
.main-menu > ul > li > a > span { color:#555; font-style:italic; padding:15px; }
.main-menu > ul > li.current > a > span { color:#000; font-style:normal; }
.main-menu > ul:after { clear:both; content:''; display:table; height:0; }

/**
 * Left menu
 */
.nav-menu { margin:10px -1px 0 0; height:calc( 100% - 10px ); }
.nav-menu .box > ul li { list-style:none; }
.nav-menu .box > ul li a { display:block; text-decoration:none; }
.nav-menu .box > ul li a span { display:block; }
.nav-menu .box > ul > li > a { border-bottom:1px solid #e2e7eb; border-right:1px solid #e2e7eb; padding:12px 18px; } /* level 1 */
.nav-menu .box > ul > li > a > span { color:#555; }
.nav-menu .box > ul > li li > a { background:#fff; border-bottom:1px solid #e2e7eb; border-right:1px solid #e2e7eb; padding:8px 18px 8px 30px; } /* level 2 */
.nav-menu .box > ul > li li > a > span { color:#555; font-style:italic; }
.nav-menu .box > ul > li li > a:hover { background:#e5f8f9; }
.nav-menu .box > ul > li li.current > a { background:#fff; border-right:0; cursor:default; }
.nav-menu .box > ul > li li.current > a span { font-weight:bold; }

/**
 * Index menu
 */
.index-menu { border:1px solid #e2e7eb; max-height:calc( 100% - 80px ); position:fixed; right:15px; top:60px; width:250px; }
.index-menu:before { background:#fff; bottom:0; content:''; display:block; left:0; opacity:.6; position:absolute; right:0; top:0; }
.index-menu ul { position:relative; }
.index-menu ul li { list-style:none; }
.index-menu ul li a { border-bottom:1px solid #e2e7eb; display:block; text-decoration:none; }
.index-menu ul li a span { display:block; }
.index-menu ul li a span.title { color:#555; padding:8px 8px 8px 10px; }
.index-menu ul li a span.progress { background:#f5f5f5; height:5px; width:100%; }
.index-menu ul li a span.progress span { background:#6ad5db; height:100%; }
.index-menu ul li ul { display:none; }
.index-menu ul li.current ul { display:block; }
.index-menu ul li li a span.progress { height:1px; }
.index-menu ul li li a span.title { border-left:5px solid #e1e1e1; }
.index-menu ul li li li a span.title { position:relative; padding:8px 8px 8px 15px; }
.index-menu ul li li li a span.title:before { background:#f1f1f1; content:''; display:block; height:100%; left:0; position:absolute; top:0; width:5px; }

/**
 * Markdown contents
 */
.markdown h1 { font-size:2rem; font-weight:normal; line-height:2.4rem; padding:2rem 0 1.2rem; }
.markdown h2 { font-size:1.5rem; font-weight:normal; line-height:2rem; padding:1.5rem 0 1rem; }
.markdown h3 { font-size:1rem; font-weight:normal; line-height:1.5rem; padding:1rem 0 1rem; }
.markdown p { margin:0 0 1rem; }
.markdown code {}
.markdown pre { background:#e5f8f9; margin:0 0 1rem; padding:10px 20px; }
.markdown pre code { font-family:Consolas; }
.markdown ul {}
.markdown ul li {}
.markdown ol {}
.markdown ol li {}
.markdown table {}
.markdown table thead th {}
.markdown table tbody td {}

/**
 * Loader
 */
body > .loader { bottom:0; left:0; position:fixed; right:0; top:0; z-index:9999; }
body > .loader:before { background:#fff; bottom:0; content:''; left:0; opacity:.6; position:absolute; right:0; top:0; }
body > .loader:after { background:url(../images/loading.gif) center center no-repeat; content:''; height:50px; left:calc( 50% - 64px ); position:absolute; top:35%; width:64px; }
