* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    color: #545454;
    font: 14px/24px Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #669;
    font-weight: 500;
    text-align: center;
}

h1 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 32px;
    padding-top: 30px;
}

h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 24px;
    padding-top: 24px;
}

h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 18px;
    padding-top: 18px;
}

a {
    color: #669;
    text-decoration: none;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-bottom: 15px;
    padding: 0 0 0 24px;
}

main {
    margin: 0 auto 180px;
    width: 800px;
}

footer {
    font-size: 12px;
    margin: 0 0 30px;
    text-align: center;
}