* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1e0e6;
    color: #545454;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"] {
    background: #f2f2f5;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: .8125rem;
    height: 2.5rem;
    padding: .5rem 1rem;
    width: 100%;
}

select {
    background: #f2f2f5;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: .8125rem;
    height: 2.5rem;
    padding: .5rem 1rem;
    width: 100%;
}

select[multiple] {
    height: auto;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
select:focus {
    background: #fff;
    border: 2px solid #d8ff00;
    outline: none;
}

button {
    background: #d8ff00;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: .8125rem;
    height: 2.5rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

header {
    background: #fff;
    border-bottom: 1px solid #e1e0e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav {
    background: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 4rem;
    width: 25rem;
}

nav > div {
    margin-bottom: 1rem;
}

nav .query {
    display: flex;
    gap: .5rem;
}

nav .query .keyword {
    flex: 1 1 auto;
}

nav .qualifiers {
    height: calc(100% - 7rem);
    overflow: auto;
}

nav .qualifier {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

nav .qualifier > .label {
    font-size: .8125rem;
    width: 6rem;
}

nav .qualifier > .value {
    flex: 1 1 auto;
}

nav .buttons button {
    width: 100%;
}

main {
    margin: 5rem 0 0 25rem;
    position: relative;
    width: calc(100% - 25rem);
    z-index: 1;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.item {
    background: #fff;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    padding: 1rem;
    width: calc((100% - 2rem) / 3);
}

.item .header h3 {
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.item .header .summary {
    color: #999;
    display: flex;
    font-size: .8125rem;
    gap: 0.5rem;
    margin: .5rem 0;
}

.item .header .summary div {
    display: flex;
    align-items: center;
}

.item .header .summary svg {
    height: 1rem;
}

.item .desc {
    max-height: calc(1.5rem * 5);
    overflow: hidden;
}

.users .item {
    width: 8rem;
}

.users .item .avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}

.users .item .avatar img {
    display: block;
    width: 100%;
}

.users .item .name {
    margin-top: .5rem;
    text-align: center;
}

.repositories .item,
.users .item {
    cursor: pointer;
}
