@font-face {
    font-family: 'Awesome Solid';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/fa-solid-900.eot);
    src: url(../fonts/fa-solid-900.eot?#iefix) format('embedded-opentype'),
    url(../fonts/fa-solid-900.woff2) format('woff2'),
    url(../fonts/fa-solid-900.woff) format('woff'),
    url(../fonts/fa-solid-900.ttf) format('truetype'),
    url(../fonts/fa-solid-900.svg#fontawesome) format('svg');
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    user-select: none;
}

html {
    height: 100%;
}

body {
    background: #000;
    color: #fff;
    font: 14px/24px Verdana, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 36px;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 28px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 16px;
}

p {
    margin-bottom: 15px;
}

a {
    border-bottom: 1px solid;
    color: #fff;
    text-decoration: none;
}

a:hover {
    border: 0;
}


/**
 * Backgrounds
 */

body > .bg {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

body > .bg > section {
    opacity: 1;
    position: relative;
    height: 100%;
    width: 100%;
    transition: opacity .6s;
    z-index: 1;
}

body > .bg > section.read {
    opacity: 0;
}

body > .bg > section.profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

body > .bg > section.profile .container {
    position: absolute;
    bottom: -15%;
    left: -15%;
    right: -15%;
    top: -15%;
}

body > .bg > section.profile .container img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

body > .bg > section.notes {
    background: url(../images/bg-note.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity .6s;
}

body > .bg > section.notes > div {
    height: 100%;
}

body > .bg > section.notes.current {
    opacity: 1;
}


/**
 * Navigation
 */

body > nav {
    position: fixed;
    right: 0;
    top: 35%;
    z-index: 3;
}

body > nav > a {
    border: 0;
    color: #bbb;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: right;
    text-decoration: none;
    transition: color .4s, text-shadow .4s;
}

body > nav > a span {
    display: block;
    padding: 6px 32px;
    position: relative;
}

body > nav > a:hover,
body > nav > a.current {
    color: #fff;
    text-shadow: 0 0 12px #FFFDE7;
}

body > nav > a.current:before {
    content: '\f104';
    font-family: 'Awesome Solid';
    position: absolute;
    right: 16px;
    top: 7px;
}


/**
 * Main sections
 */

body > main {
    height: 100%;
    position: relative;
    z-index: 2;
}

body > main > section {
    height: 100%;
    position: relative;
}

body > main > section#profile .wrapper {
    background: rgba(0, 0, 0, .4);
    border-radius: 6px;
    padding: 50px 50px 30px;
    bottom: 30%;
    left: 280px;
    right: 280px;
    top: 20%;
    position: absolute;
}

body > main > section#profile article {
    height: 100%;
    overflow: hidden;
    position: relative;
}

body > main > section#notes {
    opacity: 0;
    transition: opacity .6s;
}

body > main > section#notes article a {
    background: rgba(255, 255, 255, .1);
    display: block;
    opacity: .6;
    padding: 20px 38px;
    transition: opacity .2s;
}

body > main > section#notes article a:hover {
    border-bottom: 1px solid;
    opacity: 1;
}

body > main > section#notes article:nth-child(n+1) a {
    border-color: rgba(213, 0, 0, .6);
}

body > main > section#notes article:nth-child(n+2) a {
    border-color: rgba(98, 0, 234, .6);
}

body > main > section#notes article:nth-child(n+3) a {
    border-color: rgba(213, 145, 234, .6);
}

body > main > section#notes article:nth-child(n+4) a {
    border-color: rgba(0, 200, 83, .6);
}

body > main > section#notes article:nth-child(n+5) a {
    border-color: rgba(255, 214, 0, .6);
}

body > main > section#notes article .info {
    font-style: italic;
    margin-top: 8px;
}

body > main > section#notes .wrapper {
    padding: 30px 220px 30px 20px;
}

body > main > section#notes.current {
    opacity: 1;
}

