@import 'jquery.mCustomScrollbar.min.css';
@import 'highlight/google-light.min.css';

:root {
    --nav-width: 280px;
    --index-width: 320px;
}

@font-face {
    font-family: 'Awesome';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/fa-solid-900.eot);
    src: url(../fonts/fa-solid-900.eot?#iefix) format('embedded-opentype'),
    url(../fonts/fa-solid-900.woff2) format('woff2'),
    url(../fonts/fa-solid-900.woff) format('woff'),
    url(../fonts/fa-solid-900.ttf) format('truetype'),
    url(../fonts/fa-solid-900.svg#fontawesome) format('svg');
}

@font-face {
    font-family: 'Awesome';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/fa-light-300.woff2) format('woff2');
}

html {
    font: 16px/1.5rem Verdana, Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    user-select: none;
}

*::selection {
    background: #2196F3;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #669;
    font-weight: 500;
}

h1 {
    font-size: 1.75rem; /* 28px */
    line-height: 2.25rem; /* 36px */
    margin-bottom: 32px;
    padding-top: 30px;
}

h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.875rem; /* 30px */
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
}

h3 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    margin-bottom: 1.125rem;
    padding-top: 1.125rem;
}

a {
    color: #669;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #669;
}

p, pre {
    margin-bottom: 1rem;
}

ol, ul {
    margin-bottom: 1rem;
    padding: 0 0 0 1.5rem;
}

ol:last-child, ul:last-child {
    margin-bottom: 0;
}

code {
    color: #669;
    font-family: Consolas, Arial, Helvetica, sans-serif;
    font-style: italic;
}

blockquote {
    background: #f6f6f9;
    margin-bottom: 1rem;
    padding: 20px 50px;
    position: relative;
}

blockquote:before {
    color: #e0e0e3;
    content: '\f10d';
    font-family: Awesome, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 10px;
}

blockquote:after {
    color: #e0e0e3;
    content: '\f10e';
    font-family: Awesome, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

input[type="text"] {
    border: 1px solid #e0e0e3;
    border-radius: 3px;
    line-height: 1.5rem;
    padding: 6px .75rem;
    width: 100%;
}

table {
    border-bottom: 1px solid #e0e0e3;
    border-right: 1px solid #e0e0e3;
    border-collapse: collapse;
    margin: 0 0 32px;
    width: 100%;
}

table td,
table th {
    border-left: 1px solid #e0e0e3;
    border-top: 1px solid #e0e0e3;
    padding: 5px 10px;
    vertical-align: top;
}

table th {
    background: #f0f0f6;
    color: #669;
    font-weight: normal;
}

table td {
    font-size: .75rem;
}

table.list tr th {
    font-size: .75rem;
    padding-right: 20px;
    text-align: right;
    width: 150px;
}

body {
    color: #545454;
    font-size: .875rem;
}

body > header {
    display: none;
}

body > .sidebar {
    background: #f6f6f9;
    border-right: 1px solid #e0e0e3;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: var(--nav-width);
    z-index: 5;
}

body > .sidebar #search {
    background: #f0f0f6;
    border-bottom: 1px solid #e0e0e3;
    padding: 8px .75rem;
}

body > .sidebar #nav {
    max-height: calc(100% - 55px);
}

body > .sidebar #nav .mCSB_container {
    padding-bottom: 80px;
}

body > .sidebar nav ul {
    display: none;
    list-style: none none;
    margin: 0;
    padding: 0;
}

body > .sidebar nav > ul,
body > .sidebar nav li.activated > ul {
    display: block;
}

body > .sidebar nav li a {
    background: #fff;
    border-bottom: 1px solid #e0e0e3;
    color: #545454;
    display: block;
    font-size: .75rem;
    line-height: 20px;
    padding: 6px 32px 6px 1.75rem;
    position: relative;
    text-decoration: none;
}

body > .sidebar nav li a span {
    display: block;
}

body > .sidebar nav li a:hover,
body > .sidebar nav li.current a {
    background: #FFF3E0;
}

body > .sidebar nav li.activated > a:before {
    transform: rotateZ(90deg);
}

body > .sidebar nav li.has-child > a:before {
    color: #e0e0e3;
    content: '\f105';
    display: block;
    font-family: Awesome, sans-serif;
    font-weight: bold;
    font-size: .75rem;
    position: absolute;
    left: .75rem;
    top: 6px;
}

body > .sidebar nav li.level-1 > a {
    background: none;
    color: #669;
    padding-left: .75rem;
}

body > .sidebar nav li.level-1.has-child > a:before {
    display: none;
}

body > .sidebar nav li.level-1.has-child > a:after {
    color: #e0e0e3;
    content: '\f104';
    display: block;
    font-family: Awesome, sans-serif;
    font-weight: bold;
    font-size: .75rem;
    position: absolute;
    right: 1.125rem;
    top: 6px;
    transform: rotateZ(0deg);
}

body > .sidebar nav li.level-1.activated > a:after {
    transform: rotateZ(-90deg);
}

body > .sidebar nav li.level-3 > a {
    padding-left: 42px;
}

body > .sidebar nav a .favour {
    display: block;
    position: absolute;
    right: 16px;
    top: 4px;
}

body > .sidebar nav a .favour:after {
    color: #e0e0e3;
    content: '\f005';
    display: inline;
    font-family: 'Awesome', sans-serif;
    font-weight: 300;
}

body > .sidebar nav a.favoured .favour:after {
    font-weight: bold;
}

body > main {
    margin: 0 var(--index-width) 0 var(--nav-width);
    padding: 0 0 180px 30px;
    position: relative;
    z-index: 2;
}

body > main article * {
    user-select: text;
}

body > main article img {
    max-width: 80%;
}

body > main article pre code,
body > main article pre code.hljs {
    background: #f0f0f6;
    display: block;
    font: .875rem/21px Consolas, Arial, Helvetica, sans-serif;
    padding: 1rem 20px;
}

body > main article table pre code {
    font-size: .75rem;
}

body > .index {
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: var(--index-width);
    z-index: 4;
}

body > .index h3 {
    border-bottom: 2px solid #e0e0e3;
    color: #545454;
    margin: 0;
    padding: 0 0 8px 1.125rem;
}

body > .index .index-box {
    max-height: calc(100% - 40px);
}

body > .index .index-box .mCSB_container {
    padding-bottom: 60px;
}

body > .index a {
    border-bottom: 0;
    color: #545454;
    display: block;
    padding: 4px 1rem;
}

body > .index a.h2 {
    border-top: 2px solid #e0e0e3;
    font-size: .81255rem;
    padding-left: 1.125rem;
}

body > .index a.h3 {
    border-top: 1px solid #e0e0e3;
    font-size: .75rem;
    padding-left: 2.25rem;
}

body > .index a:first-child {
    border: 0;
}

body > .index a:last-child {
    border-bottom: 1px solid #e0e0e3;
}

body > .index a.current {
    background: #f6f6f9;
}

body > footer {
    font-size: .75rem;
    margin: 0 var(--index-width) 0 var(--nav-width);
    padding: 8px 0;
    text-align: center;
    z-index: 1;
}


@media only screen and (max-width: 768px) {

    h1 {
        font-size: 1.5rem; /* 24px */
        line-height: 2.25rem; /* 36px */
    }

    h2 {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }

    h3 {
        font-size: 1rem; /* 16px */
        line-height: 1.5rem; /* 24px */
    }

    body > header {
        background: #fff;
        border-bottom: 1px solid #e0e0e3;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        padding: .75rem 10px;
        height: 50px;
        width: 100%;
        z-index: 3;
    }

    body > header a.btn-switcher {
        border-bottom: 0;
        display: inline-block;
        text-align: center;
        width: 25px;
    }

    body > header a.btn-switcher:before {
        color: #545454;
        content: '\f0c9';
        display: block;
        font-family: 'Awesome', sans-serif;
        font-size: 22px;
        font-weight: 300;
        transition: transform .4s;
    }

    body > .sidebar {
        left: -100%;
        top: 50px;
        transition: left .4s;
    }

    body > main {
        margin: 0;
        padding: 50px 10px 120px;
    }

    body > main article img {
        max-width: 100%;
    }

    body > .index {
        right: -300px;
    }

    body > footer {
        margin: 0;
    }

    body:before {
        background: rgba(0, 0, 0, .4);
        content: '';
        display: block;
        position: fixed;
        bottom: 0;;
        left: -100%;
        top: 50px;
        width: 100%;
        z-index: 5;
        opacity: 0;
        transition: opacity .4s;
    }

    body.nav-expanded:before {
        left: 0;
        opacity: 1;
    }

    body.nav-expanded > header a.btn-switcher:before {
        content: '\f00d';
        transform: rotateZ(360deg);
    }

    body.nav-expanded > .sidebar {
        left: 0;
    }

}