@font-face {
    font-family: 'Awesome Solid';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/fa-solid-900.eot);
    src: url(../fonts/fa-solid-900.eot?#iefix) format('embedded-opentype'),
    url(../fonts/fa-solid-900.woff2) format('woff2'),
    url(../fonts/fa-solid-900.woff) format('woff'),
    url(../fonts/fa-solid-900.ttf) format('truetype'),
    url(../fonts/fa-solid-900.svg#fontawesome) format('svg');
}

@font-face {
    font-family: 'Awesome Brands';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fa-brands-400.eot);
    src: url(../fonts/fa-brands-400.eot?#iefix) format('embedded-opentype'),
    url(../fonts/fa-brands-400.woff2) format('woff2'),
    url(../fonts/fa-brands-400.woff) format('woff'),
    url(../fonts/fa-brands-400.ttf) format('truetype'),
    url(../fonts/fa-brands-400.svg#fontawesome) format('svg');
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    background: #fff;
    color: #545454;
    font: 16px/26px Consolas, Arial, Helvetica, sans-serif;
}

img {
    user-select: none;
}

header {
    user-select: none;
}

footer {
    user-select: none;
}

body.home header {
    margin: 0 auto 180px;
}

body.home header .motto {
    background: url(../images/motto.png) center center no-repeat;
    background-size: 100% auto;
    height: 300px;
    margin: 60px auto 60px;
    width: 300px;
}

body.home header .motto img {
    display: block;
    width: 100%;
}

body.home footer {
    font-size: 12px;
    text-align: center;
}

body.home footer a {
    color: #545454;
    text-decoration: none;
}


/**
 * Main menu
 */
header .main-menu {
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

/* level 1 */
header .main-menu > ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    z-index: 1;
}

header .main-menu > ul > li {
    border-right: 1px solid #333;
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0 30px 0 0;
    position: relative;
}

header .main-menu > ul > li:last-child {
    border: 0;
}

header .main-menu > ul > li > a {
    border-bottom: 1px solid #fff;
    display: block;
    padding: 5px 0;
    text-decoration: none;
    white-space: nowrap;
}

header .main-menu > ul > li > a span {
    color: #000;
    display: block;
}

header .main-menu > ul > li:hover > a {
    border-bottom: 1px solid #000;
}

/* level 2 */
header .main-menu > ul > li > ul {
    display: none;
    left: 0;
    padding: 5px 0 10px;
    position: absolute;
    top: 100%;
}

header .main-menu > ul > li:last-child > ul {
    left: auto;
    right: 30px;
}

header .main-menu > ul > li:hover > ul {
    display: block;
}

header .main-menu > ul > li > ul::before {
    background: #000;
    border-radius: 0 0 5px 5px;
    content: '';
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%;
}

header .main-menu > ul > li > ul > li {
    list-style: none;
    position: relative;
}

header .main-menu > ul > li > ul > li a {
    display: inline-block;
    font-size: 14px;
    padding: 5px 15px;
    text-decoration: none;
    width: 180px;
}

header .main-menu > ul > li > ul > li a span {
    color: #fff;
    display: block;
}

header .main-menu > ul > li > ul li:hover > a::before {
    background: #efefef;
    content: '';
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%;
}

/* level 3+ */
header .main-menu > ul > li > ul li > ul {
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
}

header .main-menu > ul > li > ul li:hover > ul {
    display: block;
}

header .main-menu > ul > li > ul li > ul::before {
    background: #000;
    content: '';
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%;
}

header .main-menu > ul > li > ul > li li {
    list-style: none;
    position: relative;
}
